/* Source: https://stripe.dev/_next/static/css/dc96b0fa656553ae.css */

@font-face {
  font-family: sohne-var;
  src: url(assets/fonts/Sohne.woff2) format("woff2-variations");
  font-weight: 1 10000;
  font-display: block;
}

@font-face {
  font-family: sohne-var;
  src: url(assets/fonts/Sohne-BuchKursiv.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: block;
}

@font-face {
  font-family: sohne-mono;
  src: url(assets/fonts/SohneMono-Buch.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: sohne-mono;
  src: url(assets/fonts/SohneMono-Extraleicht.woff2) format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: block;
}

@property --_w {
  syntax: "<length>";
  inherits: true;
  initial-value: 100vw;
}

@property --_h {
  syntax: "<length>";
  inherits: true;
  initial-value: 100vh;
}

:root {
  /* accentColor */
  --accentColor: purple;

  /* artBackground */
  --artBackground: #e8e8e8;

  /* artForeground */
  --artForeground: #eaeaea;

  /* artStroke */
  --artStroke: #1e1e1e;

  /* backgroundColor */
  --backgroundColor: #eaeaea;

  /* borderColorLight */
  --borderColorLight: #1e1e1e44;

  /* buttonColor */
  --buttonColor: #1e1e1e11;

  /* counterColor */
  --counterColor: #1e1e1e;

  /* fontColor */
  --fontColor: #1e1e1e;

  /* fontColorStatic */
  --fontColorStatic: #1e1e1e;

  /* fontInvertColor */
  --fontInvertColor: #eaeaea;

  /* highlightColor */
  --highlightColor: #c4e817;

  /* inactiveColor */
  --inactiveColor: #8d8d8d;

  /* listItemIconColor */
  --listItemIconColor: var(--fontColor);

  /* listItemText */
  --listItemText: #1e1e1e;

  /* middleColor */
  --middleColor: #eaeaea;

  /* screenHeight */
  --screenHeight: tan(atan2(var(--_h),1px));

  /* screenWidth */
  --screenWidth: tan(atan2(var(--_w),1px));

  /* stickyOffset */
  --stickyOffset: 60px;

  /* tagColor */
  --tagColor: var(--fontColor);

  /* windowFrameBG */
  --windowFrameBG: #dcdcdc;

}

* {
  box-sizing: border-box;
}

blockquote,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
}

a {
  text-decoration: none;
}

a, a:visited {
  color: var(--buttonColor);
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: sohne-var, Helvetica Neue, Arial, sans-serif;
  color: var(--bodyTextColor);
  background: var(--backgroundColor);
  background-attachment: fixed;
  -webkit-text-size-adjust: 100%;
}

::selection {
  background: var(--highlightColor);
  color: var(--invertedTextColor);
}

main {
  width: 100%;
  max-width: 1728px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.grid {
  row-gap: 120px;
}

.dotFont {
  font-family: var(--font-dotgothic);
  letter-spacing: -.02em;
}

.buttonSm {
  display: block;
  width: 100%;
  padding: 6px 12px 8px;
  text-align: center;
  letter-spacing: -.42px;
  line-height: 1;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  background: transparent;
  border-radius: 99px;
  border: 1px solid var(--buttonColor,--fontColor);
  cursor: pointer;
}

.buttonSm:visited {
  color: var(--buttonColor,--fontColor);
}

@media (pointer:fine) {
  .buttonSm:hover {
    background-color: var(--buttonColor);
    color: var(--backgroundColor);
  }
}

.buttonMd {
  display: block;
  width: 100%;
  padding: 10px 12px 12px;
  text-align: center;
  letter-spacing: -.42px;
  line-height: 1;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  background: transparent;
  border-radius: 99px;
  border: 1px solid var(--buttonColor,--fontColor);
  cursor: pointer;
}

.buttonMd, .buttonMd:visited {
  color: var(--buttonColor,--fontColor);
}

@media (pointer:fine) {
  .buttonMd:hover {
    background-color: var(--buttonColor,--fontColor);
    color: var(--backgroundColor);
  }
}

.buttonLg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 76px;
  min-width: 120px;
  padding: 10px 20px 12px;
  text-align: center;
  font-family: sohne-var, Helvetica Neue, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -.96px;
  border-radius: 20px;
  border: 1px solid var(--buttonColor,--fontColor);
  transition: all 80ms ease-in-out;
  @media (min-width: 960px) {
height:160px};
}

.buttonLg, .buttonLg:visited {
  color: var(--buttonColor,--fontColor);
}

.buttonLg:visited {
  background: var(--backgroundColor);
}

@media (pointer:fine) {
  .buttonLg:hover {
    color: var(--backgroundColor);
    background: var(--buttonColor);
  }
}

.srOnly {
  position: absolute;
  overflow: hidden;
  clip-path: rect(0,0,0,0);
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  -webkit-clip-path: rect(0,0,0,0);
}

.text-hero {
  font-size: calc(80px + ((150 - 80) * (100vw - 390px) / (960 - 390)));
  font-weight: 300;
  line-height: 80%;
  letter-spacing: -.07em;
  font-size: calc(80px + ((100 - 80) * (100vw - 600px) / (960 - 600)))}
@media (min-width:960px) {
line-height:84%;
  font-size: calc(100px + ((170 - 100) * (100vw - 960px) / (1728 - 960)))}
@media (min-width:1728px) {
font-size:170px};
  color: var(--fontColor);
  @media (min-width: 600px) {
line-height:84%;
}

.text-lg {
  font-size: calc(20px + ((43 - 20) * (100vw - 390px) / (1728 - 390)));
  line-height: 95%;
  letter-spacing: -.06em;
  @media (min-width: 1728px) {
font-size:43px};
}

.text-lg, .text-md {
  font-family: sohne-var, Helvetica Neue, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: var(--headingTextColor,--fontColor);
}

.text-md {
  font-size: calc(20px + ((27 - 20) * (100vw - 390px) / (760 - 390)));
  line-height: 100%;
  letter-spacing: -.04em;
  @media (min-width: 760px) {
font-size:calc(22px + ((27 - 22) * (100vw - 760px) / (960 - 760)))}
@media (min-width:960px) {
font-size:calc(22px + ((28 - 22) * (100vw - 960px) / (1728 - 960)))}
@media (min-width:1728px) {
font-size:28px};
}

.text-md b {
  font-weight: 500;
}

.text-sm {
  font-size: calc(14px + ((21 - 14) * (100vw - 390px) / (1728 - 390)));
  color: var(--bodyTextColor,--fontColor);
  @media (min-width: 1728px) {
font-size:21px};
}

.text-sm, .text-xs {
  font-family: sohne-var, Helvetica Neue, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: -.03em;
}

.text-xs {
  font-size: 14px;
  color: var(--fontColor);
  leading-trim: both;
  text-edge: cap;
}

.text-smallcaps {
  font-family: sohne-mono;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: -.012em;
  text-transform: uppercase;
  color: var(--squareTextColor,--fontColor);
}

.xterm {
  position: relative;
  font-family: sohne-mono, Courier New, Courier, monospace;
  font-size: 12px;
  cursor: text;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.xterm.focus, .xterm:focus {
  outline: none;
}

.xterm .xterm-helpers {
  position: absolute;
  top: 0;
  z-index: 5;
}

.xterm .xterm-helper-textarea {
  position: absolute;
  left: -9999em;
  top: 0;
  z-index: -5;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  white-space: nowrap;
  opacity: 0;
  border: 0;
  resize: none;
}

.xterm .composition-view {
  display: none;
  position: absolute;
  z-index: 1;
  white-space: nowrap;
  background: #000;
  color: #fff;
}

.xterm .composition-view.active {
  display: block;
}

.xterm .xterm-viewport {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  cursor: default;
}

.xterm .xterm-screen {
  position: relative;
}

.xterm .xterm-screen canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.xterm .xterm-scroll-area {
  visibility: hidden;
}

.xterm-char-measure-element {
  display: inline-block;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -9999em;
  line-height: normal;
}

.xterm.enable-mouse-events {
  cursor: default;
}

.xterm .xterm-cursor-pointer, .xterm.xterm-cursor-pointer {
  cursor: pointer;
}

.xterm.column-select.focus {
  cursor: crosshair;
}

.xterm .xterm-accessibility:not(.debug), .xterm .xterm-message {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  color: transparent;
  pointer-events: none;
}

.xterm .xterm-accessibility-tree:not(.debug) ::selection {
  color: transparent;
}

.xterm .xterm-accessibility-tree {
  white-space: pre;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
}

.xterm .live-region {
  position: absolute;
  left: -9999px;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.xterm-dim {
  opacity: 1!important;
}

.xterm-underline-1 {
  text-decoration: underline;
}

.xterm-underline-2 {
  text-decoration: double underline;
  -webkit-text-decoration: double underline;
}

.xterm-underline-3 {
  text-decoration: wavy underline;
  -webkit-text-decoration: wavy underline;
}

.xterm-underline-4 {
  text-decoration: dotted underline;
  -webkit-text-decoration: dotted underline;
}

.xterm-underline-5 {
  text-decoration: dashed underline;
  -webkit-text-decoration: dashed underline;
}

.xterm-overline {
  text-decoration: overline;
}

.xterm-overline.xterm-underline-1 {
  text-decoration: overline underline;
}

.xterm-overline.xterm-underline-2 {
  text-decoration: overline double underline;
  -webkit-text-decoration: overline double underline;
}

.xterm-overline.xterm-underline-3 {
  text-decoration: overline wavy underline;
  -webkit-text-decoration: overline wavy underline;
}

.xterm-overline.xterm-underline-4 {
  text-decoration: overline dotted underline;
  -webkit-text-decoration: overline dotted underline;
}

.xterm-overline.xterm-underline-5 {
  text-decoration: overline dashed underline;
  -webkit-text-decoration: overline dashed underline;
}

.xterm-strikethrough {
  text-decoration: line-through;
}

.xterm-screen .xterm-decoration-container .xterm-decoration {
  z-index: 6;
  position: absolute;
}

.xterm-screen .xterm-decoration-container .xterm-decoration.xterm-decoration-top-layer {
  z-index: 7;
}

.xterm-decoration-overview-ruler {
  z-index: 8;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.xterm-decoration-top {
  z-index: 2;
  position: relative;
}

.Console_viewport__y0C4v {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  pointer-events: none;
  cursor: -webkit-grab;
  cursor: grab;
}

.Console_viewport__y0C4v:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.Console_frame__XJ8T6 {
  display: flex;
  z-index: 10;
  gap: 8px;
  flex-direction: column;
  padding: 8px 4px 4px;
  background-color: var(--windowFrameBG);
  border: 1px solid var(--windowBarText);
  pointer-events: all;
}

.Console_modeFloat__mfZZ8 {
  position: absolute;
  bottom: 12px;
  right: 12px;
  min-width: 560px;
  min-height: 490px;
  height: 490px;
}

.Console_modeBottom__79IUP {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: auto;
  height: 350px;
  min-height: 350px;
}

.Console_terminal__jegdY {
  flex-grow: 1;
  padding: 10px;
  background-color: var(--terminalBackground);
  border: 1px solid var(--windowBarText);
  border-radius: 4px;
}

.Console_terminalInner__PknhH {
  height: 100%;
}

.Console_topbar__sPcBT {
  display: flex;
  justify-content: space-between;
  line-height: 1;
}

.Console_iconGroup__ZIpO7 {
  display: flex;
  gap: 6px;
  padding: 0 2px;
}

.Console_iconButton__3EytE {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: transparent;
  border: 0;
  appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.Console_iconButton__3EytE, .Console_icon__qfrHq {
  width: 12px;
  height: 12px;
  min-width: 12px;
  min-height: 12px;
}

.Console_icon__qfrHq {
  display: block;
  color: var(--windowBarText);
}

.Console_floatIcon__12J6e {
  transform: rotate(90deg);
}

.Console_topbarTitle__Cpo9R {
  flex-shrink: 1;
  color: var(--windowBarText);
}

/* Source: https://stripe.dev/_next/static/css/f494a2395d7c19aa.css */

.GridLayout_grid__lsHnz {
  display: grid;
  row-gap: 0;
  grid-auto-rows: auto;
  grid-auto-flow: row;
  grid-row-gap: 0;
  grid-template-columns: repeat(8,1fr);
  width: 100%;
  padding: 0 12px;
  @media (min-width: 760px) {
grid-template-columns:repeat(16,1fr)}
@media (min-width:960px) {
grid-template-columns:repeat(24,1fr)};
}

.GlobeIcon_icon___zaqs {
  position: relative;
  color: var(--globeGraphicColor);
}

.GlobeIcon_icon___zaqs svg {
  display: block;
}

.GlobeIcon_ellipseCanvas__CDl3b {
  position: absolute;
  left: 0;
  height: 100%;
}

.GlobeIcon_webRingsGlobe__vw6S0 {
  width: 100px;
  height: 60px;
}

.HeroDev_container__p8aOl {
  position: relative;
  color: var(--pixelTextColor);
}

.HeroDev_Dev__M0J9Y {
  display: block;
  width: calc(103px + ((132 - 103) * (100vw - 390px) / (600 - 390)));
  width: calc(100px + ((126 - 100) * (100vw - 600px) / (960 - 600)))}
@media (min-width:960px) {
width:calc(126px + ((208 - 126) * (100vw - 960px) / (1728 - 960)))}
@media (min-width:1728px) {
width:208px};
  @media (min-width: 600px) {
display:inline-block;
}

@media (prefers-reduced-motion:no-preference) {
  .HeroDev_rect__Tt9eh {
    transform: translateY(-200px);
    transition: transform .8s linear, fill 1.2s 2.5s;
    stroke: transparent;
    stroke-width: 4px;
  }
}

.HeroDev_rect__Tt9eh:hover {
  transition: transform .8s linear, fill 0ms;
  fill: var(--highlightColor);
}

.Hero_section__lNbz7 {
  position: relative;
  margin-top: 64px;
  --iconWidth: calc(63px + ((88 - 63) * (100vw - 390px) / (1440 - 390)));
  @media (min-width: 1440px) {
--iconWidth:88px};
}

@media (max-width:760px) {
  .Hero_section__lNbz7 {
    grid-template-columns: repeat(8,1fr);
  }
}

.Hero_title__bGj6o {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-column: 1/15;
  padding-left: 6px};
  color: var(--headingTextColor,--fontColor);
  @media (min-width: 600px) {
display:block;
}

.Hero_subtitle___gKKT {
  grid-column: 1/15;
  grid-row: 3;
  padding-top: 50px;
  padding-left: 6px;
  padding-right: 6px;
  color: var(--bodyTextColor,--fontColor);
}

.Hero_caption__Hw4AX {
  grid-column: 21/-1;
  padding-top: 14px;
  text-align: right;
  line-height: 1;
  font-weight: 300;
  @media (min-width: 600px) {
grid-row:2};
}

.Hero_caption__Hw4AX, .Hero_icon__fOYSW {
  grid-row: 3;
  justify-self: flex-end;
}

.Hero_icon__fOYSW {
  align-self: start;
  grid-column: 7/-1;
  grid-row: 2;
  padding-top: 10px;
  margin-top: calc(-105px + (-22 * (100vw - 390px) / (600 - 390)));
  margin-top: 0};
  @media (min-width: 600px) {
grid-column:21/-1;
}

.Hero_icon__fOYSW svg {
  width: var(--iconWidth);
  height: calc(var(--iconWidth) * .5);
}

.Hero_icon__fOYSW img {
  width: var(--iconImgWidth);
  height: calc(var(--iconImgWidth) * .6);
  --iconImgWidth: calc(var(--iconWidth) * 1.2);
}

.Hero_plusIcons__t2rLT {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: subgrid;
  color: var(--plusIconColor,--fontColor);
}

.Hero_secondPlusIcons__TaHVn {
  grid-row: 3;
  @media (min-width: 600px) {
display:none};
}

.Hero_thirdPlusIcons__XEsho {
  padding-top: 8px;
}

@media (min-width:600px) {
  .Hero_brMobile__1rHdH {
    display: none;
  }
}

@media (max-width:599px) {
  .Hero_brDesktop__fm1MU {
    display: none;
  }
  .Hero_toStripe__Ds7zy {
    grid-row: 2;
    margin-right: 4px;
    text-align: right;
  }
  .Hero_dot__eI13E {
    grid-row: 3;
  }
}

.Hero_dev__PETcy {
  left: auto;
  left: calc(8px + ((10.5 - 8) * (100vw - 390px) / (1728 - 390)))}
@media (min-width:1728px) {
left:10.5px};
  align-self: flex-end;
  grid-row: 4;
  grid-row: auto;
  transform: translateY(-31%);
  @media (min-width: 600px) {
position:relative;
}

.Hero_plusIcons__t2rLT img:first-of-type, .Hero_plusIcons__t2rLT svg:first-of-type {
  grid-column: 1/1;
  grid-row: 1;
}

.Hero_plusIcons__t2rLT img:nth-of-type(2n), .Hero_plusIcons__t2rLT svg:nth-of-type(2n) {
  grid-column: 16/16;
  grid-row: 1;
}

.Hero_plusIcons__t2rLT img:nth-of-type(3n), .Hero_plusIcons__t2rLT svg:nth-of-type(3n) {
  grid-column: 22/22;
  grid-row: 1;
}

.Hero_plusIcons__t2rLT img:nth-of-type(4n), .Hero_plusIcons__t2rLT svg:nth-of-type(4n) {
  grid-column: -2/-1;
  grid-row: 1;
  transform: translateX(50%);
  justify-self: end;
}

@media (max-width:959px) {
  .Hero_plusIcons__t2rLT img:first-of-type, .Hero_plusIcons__t2rLT svg:first-of-type {
    grid-column: 1/1;
  }
  .Hero_plusIcons__t2rLT img:nth-of-type(2n), .Hero_plusIcons__t2rLT svg:nth-of-type(2n) {
    grid-column: 13/13;
  }
  .Hero_plusIcons__t2rLT img:nth-of-type(3n), .Hero_plusIcons__t2rLT svg:nth-of-type(3n) {
    display: none;
  }
  .Hero_plusIcons__t2rLT img:nth-of-type(4n), .Hero_plusIcons__t2rLT svg:nth-of-type(4n) {
    grid-column: -1/-1;
  }
  .Hero_caption__Hw4AX {
    grid-column: -3/-1;
  }
}

@media (max-width:759px) {
  .Hero_plusIcons__t2rLT img:nth-of-type(2), .Hero_plusIcons__t2rLT svg:nth-of-type(2) {
    grid-column: 6/6;
  }
}

.section_section__97qHR {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: subgrid;
  grid-template-rows: auto;
}

.PlusIcon_icon__vq4ST {
  display: block;
  color: var(--plusIconColor);
  transform: translateX(-50%);
}

.PlusIcon_webRingsIcon__m4Rn2 {
  width: 16px;
  height: 16px;
}

.TableHeader_container__A1U5M {
  display: grid;
  align-self: start;
  grid-template-columns: subgrid;
  padding-bottom: 6px;
  border-bottom: .5px solid var(--sectionLabels,--fontColor);
}

.TableHeader_label__P8K0f {
  display: flex;
  gap: 4px;
  grid-column: 1/-1;
  color: var(--sectionLabels,--fontColor);
}

.Tag_tag__mgtst {
  display: inline-block;
  padding: 2px 5px 2.5px;
  line-height: 1;
  white-space: nowrap;
  border: 1px dotted var(--tagBorderColor);
  border-radius: 3px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.Tag_tag__mgtst, .Tag_tag__mgtst:visited {
  color: var(--tagTextColor);
}

.Tag_tag__mgtst[href]:hover {
  background-color: var(--tagHighlightColor);
  color: var(--invertedTextColor);
}

button.Tag_tag__mgtst {
  cursor: pointer;
}

.Footer_section__N_45n {
  align-self: end;
  grid-template-rows: auto 164px auto 164px auto;
  margin-top: 100px;
  border-top: .5px solid var(--borderColor);
  @media (min-width: 760px) {
margin-top:160px};
}

.Footer_plusIcons__qyFY7 {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
  padding: 8px 0;
}

.Footer_plusIcon__F7jhR:first-of-type {
  grid-column: 1/4;
}

.Footer_plusIcon__F7jhR:nth-of-type(2) {
  grid-column: 4/7;
}

.Footer_plusIcon__F7jhR:nth-of-type(3) {
  grid-column: 7/10;
}

.Footer_plusIcon__F7jhR:nth-of-type(4) {
  grid-column: 10/13;
}

.Footer_plusIcon__F7jhR:nth-of-type(5) {
  grid-column: 13/16;
}

.Footer_plusIcon__F7jhR:nth-of-type(6) {
  grid-column: 16/19;
}

.Footer_plusIcon__F7jhR:nth-of-type(7) {
  grid-column: 19/22;
}

.Footer_plusIcon__F7jhR:nth-of-type(8) {
  grid-column: 22/-1;
  grid-row: 1;
}

.Footer_plusIcon__F7jhR:last-of-type {
  grid-column: -2/-1;
  grid-row: 1;
  transform: translateX(50%);
  justify-self: end;
}

.Footer_docsSection__Rvmiy {
  display: flex;
  flex-direction: column;
  gap: 16px;
  grid-column: 1/6;
}

.Footer_linksSection__WScWj {
  display: flex;
  flex-direction: column;
  gap: 16px;
  grid-column: 19/23;
}

.Footer_linkList__xbV8f {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
  margin: 0;
}

.Footer_docsButton__oTR1o, .Footer_resourcesLabel__av196 {
  margin-top: auto;
}

.Footer_copyright__1v3uR {
  align-self: flex-end;
  grid-column: 1/6;
}

.Footer_miscList__YyHVD {
  align-self: flex-end;
  grid-column: 19/23;
}

@media (max-width:959px) {
  .Footer_section__N_45n {
    row-gap: 8px;
    grid-template-rows: auto;
  }
  .Footer_plusIcon__F7jhR:nth-of-type(3),
  .Footer_plusIcon__F7jhR:nth-of-type(4),
  .Footer_plusIcon__F7jhR:nth-of-type(5),
  .Footer_plusIcon__F7jhR:nth-of-type(6),
  .Footer_plusIcon__F7jhR:nth-of-type(7),
  .Footer_plusIcon__F7jhR:nth-of-type(8),
  .Footer_plusIconsSecondRow__g_tq5 {
    display: none;
  }
  .Footer_plusIcon__F7jhR:first-of-type {
    grid-column: 1/5;
    grid-row: 1;
  }
  .Footer_plusIcon__F7jhR:nth-of-type(2) {
    grid-column: 5/9;
    grid-row: 1;
  }
  .Footer_plusIcon__F7jhR:nth-of-type(3) {
    grid-column: 9/13;
    grid-row: 1;
  }
  .Footer_plusIcon__F7jhR:last-of-type {
    grid-column: -2/-1;
    grid-row: 1;
    transform: translateX(50%);
    justify-self: end;
  }
  .Footer_docsSection__Rvmiy, .Footer_linksSection__WScWj {
    display: grid;
    grid-template-columns: subgrid;
  }
  .Footer_docsDescription__hE7Nj {
    grid-column: 1/6;
  }
  .Footer_docsButton__oTR1o {
    grid-column: 1/5;
  }
  .Footer_copyright__1v3uR, .Footer_linksLabel__kEtSF, .Footer_resourcesLabel__av196 {
    margin-top: 20px;
  }
  .Footer_miscList__YyHVD {
    grid-row: 4;
  }
  .Footer_docsLabel__5UmXu,
  .Footer_docsSection__Rvmiy,
  .Footer_linkList__xbV8f,
  .Footer_linksLabel__kEtSF,
  .Footer_linksSection__WScWj,
  .Footer_resourcesLabel__av196 {
    grid-column: 1/-1;
  }
  .Footer_linksSection__WScWj {
    row-gap: 16px;
  }
  .Footer_miscList__YyHVD {
    margin-top: 40px;
  }
}

.FeaturedPostsSection_section__LDu7M {
  row-gap: 16px;
  margin-top: 48px;
  @media (min-width: 760px) {
row-gap:32px};
}

.FeaturedPostsSection_title__203oo {
  grid-column: 1/-1;
}

.FeaturedPost_post__071cK {
  display: grid;
  position: relative;
  gap: 20px;
  grid-template-columns: subgrid;
  grid-column: span 12;
  grid-gap: 20px;
  --overlap: calc(3px + 0.3vw);
}

.FeaturedPost_highlight__h4VdI {
  background-image: none;
}

.FeaturedPost_post__071cK:last-of-type:before {
  position: absolute;
  left: -12px;
  top: -24px;
  height: calc(100% + 70px);
  border-left: .5px dashed var(--borderColor);
  content: "";
}

@media (max-width:759px) {
  .FeaturedPost_post__071cK:last-of-type {
    margin-top: 30px;
  }
  .FeaturedPost_post__071cK:last-of-type:before {
    left: 0;
    top: -16px;
    width: 100%;
    height: 0;
    border-left: none;
    border-top: .5px dashed var(--borderColor);
  }
}

.FeaturedPost_image__cyPS2 {
  grid-column: 1/7;
  grid-row: span 2;
}

.FeaturedPost_arrow__d6CdS svg {
  display: inline-block;
  margin-left: 7px;
  width: calc(12px + ((14 - 12) * (100vw - 390px) / (760 - 390)));
  width: calc(14px + ((17.2 - 14) * (100vw - 760px) / (1728 - 760)))}
@media (min-width:1728px) {
width:17.2px};
  @media (min-width: 760px) {
margin-top:-3px;
}

.FeaturedPost_title__FhwAh {
  margin-top: 16px;
  font-size: calc(24px + ((33 - 24) * (100vw - 390px) / (760 - 390)));
  font-size: calc(28px + ((33 - 28) * (100vw - 760px) / (1728 - 760)))}
@media (min-width:1728px) {
font-size:33px};
  @media (min-width: 760px) {
margin-top:-3px;
}

.FeaturedPost_copy__lX9it {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  grid-column: 7/12;
  grid-row: 1/3;
  height: 100%;
  color: var(--invertedTextColor)}
.FeaturedPost_bodyHighlight__yMYZi {
background-image:linear-gradient(transparent calc(var(--overlap) * .6),var(--highlightColor) calc(var(--overlap) * .6));
  color: var(--invertedTextColor)}
.FeaturedPost_tagHighlight__6_k3P {
background:var(--highlightColor);
  color: var(--invertedTextColor);
  border-color: var(--invertedTextColor)}
};
  &: hover {
.FeaturedPost_highlight__h4VdI {
background-image:linear-gradient(transparent var(--overlap),var(--highlightColor) var(--overlap));
}

.FeaturedPost_body__A9_Zp {
  display: inline;
  flex-direction: column;
  justify-content: flex-end;
}

.FeaturedPost_tags__03kV0 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  grid-column: 7/12;
  margin-top: 24px;
}

@media (max-width:959px) {
  .FeaturedPost_post__071cK {
    grid-column: 1/-1;
  }
  .FeaturedPost_image__cyPS2 {
    grid-column: 1/8;
  }
  .FeaturedPost_copy__lX9it {
    grid-column: 8/-2;
  }
}

@media (max-width:759px) {
  .FeaturedPost_post__071cK {
    row-gap: 8px;
  }
  .FeaturedPost_image__cyPS2 {
    grid-column: 1/-1;
    grid-row: 1;
  }
  .FeaturedPost_copy__lX9it {
    grid-column: 1/-1;
    grid-row: 2;
  }
}

.Art_Art__xmEgZ {
  position: relative;
  opacity: 0;
  background: var(--artBackground);
  border: 1px solid var(--artStroke);
  animation: Art_fadein__GkEyl .3s forwards;
  cursor: -webkit-grab;
  cursor: grab;
  aspect-ratio: 302/252;
  --chromeHeight: 20px;
  @media (min-width: 760px) {
max-width:none};
}

.Art_Art__xmEgZ:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.Art_consoleIcon__K1Kcv {
  padding: 0;
  background: transparent;
  border: 0;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.Art_dragline__lgawy {
  flex-basis: 100%;
  margin: 0 10px;
  height: 1px;
  background: var(--windowBarText);
  opacity: 0;
}

.Art_Art__xmEgZ:hover .Art_dragline__lgawy {
  display: block;
  opacity: .4;
}

.Art_Canvas__hkTK5 {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .5s;
}

.Art_background___foLa {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .2;
}

.Art_tenX__RXr5w {
  position: absolute;
  left: 10px;
  top: 7px;
  display: flex;
  align-items: center;
  opacity: 0;
}

.Art_tenX__RXr5w svg {
  display: block;
  top: 1px;
  position: relative;
  fill: var(--windowBarText);
}

.Art_background___foLa svg {
  width: 100%;
  height: 100%;
  fill: var(--windowBarText);
}

.Art_canvasContainer__8DL3G {
  position: relative;
  width: calc(100% - 8px);
  height: calc(100% - var(--chromeHeight));
  border: 1px solid var(--artStroke);
  border-radius: 2px;
  animation: Art_fadein__GkEyl .3s forwards;
}

.Art_canvasContainer__8DL3G:hover:active .Art_tenX__RXr5w {
  animation: Art_fadein__GkEyl 1s infinite;
}

.Art_Chrome__NszGj {
  display: flex;
  top: 0;
  left: 0;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  height: var(--chromeHeight);
  width: 100%;
  padding: 0 4px;
  background: var(--windowFrameBG);
  transition: background .1s;
}

.Art_Chrome__NszGj svg {
  display: block;
  fill: var(--windowBarText);
}

.Art_propsIcon__ly5Hz:hover {
  transform: scaleX(-1);
}

.Art_consoleIcon__K1Kcv {
  cursor: pointer;
}

.Art_consoleIcon__K1Kcv:hover .Art_underline__78IAU {
  animation: Art_fadein__GkEyl .5s infinite;
}

.Art_fig__4XrE8 {
  font-size: 8px;
  white-space: nowrap;
  line-height: 0;
  color: var(--windowBarText);
}

.Art_left__sBKlb, .Art_right__ND2Se {
  flex-shrink: 0;
  align-items: stretch;
  width: 4px;
}

.Art_bottom__fTOL2, .Art_left__sBKlb, .Art_right__ND2Se {
  background: var(--windowFrameBG);
  transition: background .1s;
}

.Art_bottom__fTOL2 {
  width: 100%;
  height: 4px;
}

.Art_row2__QXta1 {
  display: flex;
}

@keyframes Art_fadein__GkEyl {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Nav_nav__W3s5_ {
  position: fixed;
  left: 50%;
  top: 0;
  display: flex;
  z-index: 2;
  gap: 3px;
  justify-content: space-between;
  width: 100%;
  max-width: 1728px;
  margin: auto;
  padding: 12px;
  transform: translateX(-50%);
}

.Nav_nav__left___56Fh {
  display: flex;
  gap: 2px;
}

.Nav_nav__link__2UQWF {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 8px;
  font-family: sohne-mono;
  text-transform: uppercase;
  background: var(--navButtonBG);
  color: var(--buttonColor);
  border-radius: 2px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

@media (pointer:fine) {
  .Nav_nav__link__2UQWF:hover {
    background: var(--highlightColor);
  }
  .Nav_nav__link__2UQWF:hover .Nav_nav__logoIcon__EjRzH {
    color: var(--invertedTextColor);
  }
}

.Nav_nav__logoIcon__EjRzH {
  display: block;
  color: var(--buttonColor);
}

.NavButton_navButton__SkxuZ {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 8px;
  line-height: 1;
  letter-spacing: -.3px;
  background: var(--navButtonBG);
  color: var(--buttonColor);
  border-radius: 2px;
  border: 0;
  backdrop-filter: blur(10px);
  appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-backdrop-filter: blur(10px);
}

.NavButton_navButton__SkxuZ:active, .NavButton_navButton__SkxuZ:visited {
  color: var(--buttonColor);
}

.NavButton_navButton__SkxuZ.NavButton_active__NK5js {
  background: var(--buttonColor);
  color: var(--backgroundColor);
}

@media (pointer:fine) {
  .NavButton_navButton__SkxuZ:hover {
    background: var(--highlightColor);
    color: var(--invertedTextColor);
  }
}

.NavButton_hotkey__XVC_N {
  letter-spacing: -1px;
}

@media (max-width:959px) {
  .NavButton_hotkey__XVC_N {
    display: none;
  }
}

.StatisticsSection_section__TVIzd {
  position: relative;
  row-gap: 4px;
  margin-top: 56px;
}

.StatisticsSection_title__sodpY {
  grid-column: 1/-1;
}

.StatisticsTicker_StatisticsTicker__95AfY {
  position: absolute;
  left: 0;
  top: 30px;
  overflow: hidden;
  flex-wrap: none;
  grid-column: 1/-1;
  padding: 8px;
  width: 100%;
  @media (pointer: fine) {
&:hover .StatisticsTicker_container__sDhwo {
animation-play-state:paused}
};
}

.StatisticsTicker_container__sDhwo {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  animation: StatisticsTicker_ticker__z_qk3 25s linear infinite;
}

.StatisticsTicker_item__VDKDN {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 12px;
  white-space: nowrap;
  color: var(--marqueeTextColor,--fontColor);
  border-right: 1px dotted var(--marqueeTextColor,--fontColor);
}

.StatisticsTicker_tag__hrgqr {
  color: var(--marqueeTextColor,--tagColor);
  border: 1px dotted var(--marqueeTagBorder,--borderColorLight);
}

@keyframes StatisticsTicker_ticker__z_qk3 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-33.333333333333%);
  }
}

.FeedSection_section__KFDAr {
  display: grid;
  row-gap: 36px;
  row-gap: 56px};
  grid-template-columns: subgrid;
  grid-column: 1/-1;
  grid-row-gap: 36px;
  margin-top: 100px;
  @media (min-width: 760px) {
margin-top:160px;
}

.FeedSection_filterSection__bsq_3 {
  position: -webkit-sticky;
  position: sticky;
  top: var(--stickyOffset);
  display: grid;
  row-gap: 16px;
  align-self: start;
  grid-template-columns: subgrid;
  grid-column: 1/7;
  grid-row-gap: 16px;
}

@-moz-document url-prefix() {
  position: relative};
  .FeedSection_filterSection__bsq_3 {
top: 0;
}

.FeedSection_empty__H6wvW {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  grid-column: 2/-2;
  margin: 112px 0;
  justify-self: center;
}

.FeedSection_emptyIcon__rpj8c {
  width: 24px;
  height: 24px;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.FeedSection_filterHeader__MkWMp {
  grid-column: 1/-1;
}

.FeedSection_typeFilter__5h_w8 {
  grid-column: 1/4;
}

.FeedSection_topicFilter__IdmJl {
  grid-column: 4/7;
}

.FeedSection_listHeader__rwsMj {
  grid-column: 1/-1;
}

.FeedSection_listSection__3icjV {
  display: grid;
  align-self: start;
  grid-column: 8/25;
  grid-template-columns: subgrid;
}

.FeedSection_filterLabel__E_Nl6 {
  grid-column: 1/4;
}

.FeedSection_clearButtonLabel__2uyC6 {
  grid-column: 4/-1;
  justify-self: flex-end;
}

.FeedSection_clearButton__TlIVR {
  padding: 0;
  background: transparent;
  outline: none;
  border: 0;
  appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.FeedSection_dateLabel__MAbRL, .FeedSection_listItemDate__ebV6C {
  grid-column: 1/3;
}

.FeedSection_listItemName___c9Lv, .FeedSection_nameLabel__jyJFQ {
  grid-column: 3/15;
}

.FeedSection_listItemType__ybJaB, .FeedSection_typeLabel__FqbH2 {
  grid-column: 15/18;
}

.FeedSection_listItemDate__ebV6C {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.FeedSection_listItemName___c9Lv {
  font-size: 24px;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: -1.2px;
}

.FeedSection_buttons__xwWKj {
  flex-direction: row;
  justify-content: center};
  grid-column: 1/-1;
  margin-top: 32px;
  @media (min-width: 960px) {
display:flex;
}

.FeedSection_communityButton__Umhan, .FeedSection_eventsButton__rFlva, .FeedSection_videoButton__d8qGH {
  flex-basis: 33.33%;
}

.FeedSection_communityButton__Umhan:nth-of-type(2) {
  margin: 0 -1px;
}

.FeedSection_Art__vHOL1 {
  grid-column: 1/-1;
  margin-top: 24px;
}

@media (max-width:959px) {
  .FeedSection_section__KFDAr {
    row-gap: 32px;
  }
  .FeedSection_Art__vHOL1 {
    display: none;
  }
  .FeedSection_filterSection__bsq_3 {
    position: relative;
    top: 0;
    row-gap: 0;
    grid-column: 1/-1;
  }
  .FeedSection_topicFilter__IdmJl, .FeedSection_typeFilter__5h_w8 {
    grid-column: 1/-1;
  }
  .FeedSection_content__vzbkv {
    display: grid;
    grid-template-columns: subgrid;
  }
  .FeedSection_listSection__3icjV, .FeedSection_moreButton__ri2HX {
    grid-column: 1/-1;
  }
  .FeedSection_communityButton__Umhan:nth-of-type(2) {
    margin: -1px 0;
  }
}

@media (max-width:759px) {
  .FeedSection_listHeader__rwsMj {
    display: none;
  }
}

.SectionTitle_title__rguvK {
  display: flex;
  grid-column: 1/14;
  font-size: calc(54px + ((114 - 54) * (100vw - 390px) / (1728 - 390)));
  font-style: normal;
  font-weight: 300;
  line-height: 84%;
  letter-spacing: -.06em;
  color: var(--headingTextColor,--fontColor);
  @media (min-width: 1728px) {
font-size:114px};
}

.SectionTitle_superText__74plT {
  margin-left: 8px;
  font-size: calc(12px + ((20 - 12) * (100vw - 390px) / (1728 - 390)));
  line-height: 100%;
  letter-spacing: -.03em;
  vertical-align: top;
  color: var(--counterColor,--fontColor);
  @media (min-width: 1728px) {
font-size:20px};
}

.Filter_option__h8gZH {
  display: flex;
  align-self: flex-start;
  padding: 0;
  text-align: left;
  text-transform: capitalize;
  background: transparent;
  color: var(--filterTextInactive,--inactiveColor);
  border: none;
  appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.Filter_option__h8gZH:hover {
  color: var(--filterTextActive,--fontColor);
}

.Filter_active__gVaRf {
  color: var(--invertedTextColor,--fontColor);
  background: var(--highlightColor);
}

.Filter_list__iQZFL {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding-left: 12px;
  list-style: none;
}

.Filter_listItem__iFScO {
  line-height: 1;
  white-space: nowrap;
}

.Filter_checkboxIcon__qeiLW {
  width: 15px;
  height: 14px;
  margin-right: 8px;
  opacity: .4;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.Filter_checkboxActive__Ha1WG {
  opacity: 1;
}

.Filter_count__PUvTU {
  margin-left: 2px;
}

@media (max-width:959px) {
  .Filter_list__iQZFL {
    overflow-x: auto;
    overflow-y: hidden;
    flex-direction: row;
    gap: 12px;
    padding: 0 12px;
    max-width: calc(100vw - 32px);
    scrollbar-width: none;
    overscroll-behavior-x: contain;
    -webkit-overflow-scrolling: touch;
    -webkit-mask-image: linear-gradient(90deg,transparent,#000 12px,#000 90%,transparent);
    mask-image: linear-gradient(90deg,transparent,#000 12px,#000 90%,transparent);
  }
  .Filter_list__iQZFL::-webkit-scrollbar {
    display: none;
  }
  .Filter_listItem__iFScO {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 4px 0;
    height: 100%;
  }
  .Filter_checkboxIcon__qeiLW {
    display: none;
  }
}

.Directory_directoryIcon__DGpIr {
  display: block;
  width: 18px;
  height: 18px;
  color: var(--filterTextActive,--listItemIconColor);
}

.Directory_chevronIcon__yM3Ib {
  flex-shrink: 0;
  width: 10px;
  height: 6px;
  margin-top: 6px;
  transform: rotate(-90deg);
  transition: transform .3s cubic-bezier(.19,1,.22,1);
  cursor: pointer;
}

.Directory_chevronOpen__m6TYC {
  transform: rotate(0deg);
}

.Directory_directory__9tGgi {
  display: flex;
  flex-direction: column;
}

.Directory_toggle__8vHdD {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 0;
  background: transparent;
  border: none;
  appearance: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.Directory_label__etKUr, .Directory_toggle__8vHdD {
  color: var(--filterTextActive);
}

.Directory_inner__qJ74Z {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 7px;
  border-left: 1px dotted var(--filterBorderColor,--borderColorLight);
}

@media (max-width:959px) {
  .Directory_content__st5WB, .Directory_directory__9tGgi {
    display: grid;
    align-items: center;
    grid-template-columns: subgrid;
    grid-column: 1/-1;
  }
  .Directory_directory__9tGgi {
    border-bottom: 1px dotted var(--filterBorderColor,--borderColorLight);
  }
  .Directory_chevronIcon__yM3Ib {
    display: none;
  }
  .Directory_inner__qJ74Z {
    margin: 0;
    border: none;
  }
  .Directory_toggle__8vHdD {
    align-items: center;
    grid-column: 1/3;
    padding: 12px 12px 12px 0;
    border-right: 1px dotted var(--dottedBorderColor);
  }
  .Directory_collapse__rZ_Uv {
    overflow-x: auto;
  }
  .Directory_content__st5WB {
    display: flex;
    flex-direction: row;
    grid-column: 3/-1;
    height: 100%;
  }
}

.FeedListItem_date__jmle5 {
  display: flex;
  gap: 8px;
  align-items: center;
  grid-column: 1/3;
}

.FeedListItem_dateText__nU2uY {
  color: var(--squareTextColor,--fontColor);
}

.FeedListItem_title__W3JDw {
  overflow-x: hidden;
  overflow-y: hidden;
  grid-column: 3/14;
  margin-top: -4px;
  white-space: nowrap;
  line-height: 1.2;
  text-overflow: ellipsis;
}

.FeedListItem_type__2lUdA {
  align-self: center;
  grid-column: 15/17;
  grid-row: 1;
  justify-self: start;
}

.FeedListItem_summaryLabel__TXgnK {
  grid-column: 1/3;
}

.FeedListItem_summary__9L6yr {
  grid-column: 3/11;
}

.FeedListItem_authorsLabel__El_9j {
  grid-row: 3;
  grid-row: 2};
  @media (min-width: 760px) {
grid-column:13/15;
}

.FeedListItem_authors__EpU0j {
  display: flex;
  gap: 8px;
  grid-column: 3/10;
  grid-row: 3;
  grid-row: 2;
  padding-top: 32px;
  padding-top: 0};
  @media (min-width: 760px) {
grid-column:15/-1;
}

.FeedListItem_topicsLabel__kTmM8 {
  align-self: center;
  grid-column: 1/3;
}

.FeedListItem_topics__z4AIB {
  display: flex;
  align-self: center;
  gap: 2px;
  flex-wrap: wrap;
  grid-column: 3/10;
  padding: 32px 0;
  margin: 0;
  list-style: none;
}

.FeedListItem_link__ENVyp {
  grid-column: 1/18;
  margin-bottom: 16px;
}

@media (max-width:759px) {
  .FeedListItem_title__W3JDw {
    grid-column: 1/-2;
  }
  .FeedListItem_type__2lUdA {
    display: none;
  }
}

.AccordionListItem_listItem__3N7XU.AccordionListItem_accordionListItem__qFmXT {
  position: relative;
  padding: 0;
}

.AccordionListItem_visible__HJOG8 {
  display: grid;
  align-items: center;
  column-gap: 4px;
  row-gap: 7px;
  grid-column: 1/-1;
  grid-template-columns: subgrid;
  grid-column-gap: 4px;
  grid-row-gap: 7px;
  padding: 10px 0;
  text-align: left;
  background: none;
  color: var(--invertedTextColor)}
};
  border: none;
  cursor: pointer;
  @media (pointer: fine) {
&:hover {
background:var(--highlightColor)}
&:hover * {
--squareTextColor:var(--invertedTextColor);
}

.AccordionListItem_inner__enpKL {
  display: grid;
  align-items: baseline;
  grid-column: 1/-1;
  grid-template-columns: subgrid;
}

.AccordionListItem_button__M0VZP {
  align-self: center;
  grid-column: -2/-1;
  grid-row: 2;
  justify-self: end;
}

.AccordionListItem_spacer__hi9wf {
  grid-row: 1;
  grid-column: 1/-1;
  padding-bottom: 20px;
}

@media (min-width:760px) {
  .AccordionListItem_button__M0VZP {
    grid-row: 1;
  }
}

.ListItem_listItem__RdyDp {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
  color: var(--listItemText);
  border-bottom: .5px solid var(--borderColor,--fontColor);
}

.AccordionButton_button__BEHah {
  color: var(--listItemText,--fontColor);
}

.AccordionButton_verticalPath__2lCIc {
  transform-origin: center;
  transition: transform .6s cubic-bezier(.19,1,.22,1);
}

.AccordionButton_isOpen__t0wWH {
  transform: scale(0);
}

.SquareIcon_icon__IPjXw {
  width: 8px;
  height: 8px;
  min-width: 8px;
  min-height: 8px;
  margin-top: .5px;
  background-color: var(--squareTextColor);
}

.RouterSection_section__iKcsL {
  row-gap: 36px;
  row-gap: 56px};
  margin-top: 100px;
  @media (min-width: 760px) {
margin-top:160px;
}

.RouterSection_tocSection__LUqIS {
  position: -webkit-sticky;
  position: sticky;
  top: var(--stickyOffset);
  display: none;
  align-self: start;
  row-gap: 16px;
  grid-column: 1/7;
  grid-template-columns: subgrid;
}

.RouterSection_tocBody__rbw4e {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  grid-column: 1/-1;
  justify-self: start;
}

.RouterSection_tocSquare__HbGdC {
  margin-top: 4px;
}

@-moz-document url-prefix() {
  position: relative};
  .RouterSection_tocSection__LUqIS {
top: 0;
}

.RouterSection_art__0jDUf {
  grid-column: 1/-1;
}

.RouterSection_listSection__8sqsq {
  display: grid;
  row-gap: 24px;
  grid-column: 1/-1;
  grid-template-columns: subgrid;
  grid-row-gap: 24px;
}

.RouterSection_listHeader__GXQsC, .RouterSection_tocHeader__DSzQ2 {
  grid-column: 1/-1;
}

@media (min-width:960px) {
  .RouterSection_section__iKcsL {
    row-gap: 56px;
  }
  .RouterSection_tocSection__LUqIS {
    display: grid;
  }
  .RouterSection_listSection__8sqsq {
    grid-column: 8/25;
  }
}

.RouterObjective_objective__ewcY7 {
  display: grid;
  align-items: center;
  row-gap: 16px;
  grid-column: 1/-1;
  grid-template-columns: subgrid;
  grid-row-gap: 16px;
  padding-bottom: 28px;
  border-bottom: .5px solid var(--borderColor);
}

.RouterObjective_body__vPjVS, .RouterObjective_mainLink__mmoBS, .RouterObjective_title__mKE46 {
  grid-column: 1/-1;
}

.RouterObjective_linkList__8F6vD {
  display: grid;
  align-self: end;
  grid-column: 1/-1;
  grid-template-columns: subgrid;
}

.RouterObjective_listItem__Np_tC {
  border-bottom: 1px dotted var(--dottedBorderColor);
}

.RouterObjective_listItem__Np_tC:last-of-type {
  border-bottom: none;
}

.RouterObjective_link__Csy1j {
  display: grid;
  align-items: center;
  grid-column: 1/-1;
  grid-template-columns: subgrid;
  padding: 12px 0;
}

@media (pointer:fine) {
  .RouterObjective_link__Csy1j:hover {
    background-color: var(--highlightColor);
  }
  .RouterObjective_link__Csy1j:hover * {
    color: var(--invertedTextColor);
    --squareTextColor: var(--invertedTextColor);
  }
}

.RouterObjective_label__NCb46 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  grid-column: 1/-2;
}

img.RouterObjective_arrow__Ie6ZY, svg.RouterObjective_arrow__Ie6ZY {
  grid-column: -2/-1;
  color: var(--squareTextColor);
  justify-self: end;
}

@media (min-width:960px) {
  .RouterObjective_body__vPjVS, .RouterObjective_title__mKE46 {
    grid-column: 1/8;
  }
  .RouterObjective_mainLink__mmoBS {
    align-self: start;
    grid-column: 1/5;
    margin-top: 16px;
  }
  .RouterObjective_linkList__8F6vD {
    grid-column: 9/-1;
    grid-row: 2/4;
  }
}

.ArrowIcon_icon__5vunI {
  display: block;
  width: 10px;
  height: 10px;
  color: var(--listItemIconColor);
}

.ArrowIcon_webRingsIcon__ay_CQ {
  width: 20px;
  height: 20px;
}

.GetHelpSection_section__FCAOO {
  row-gap: 36px;
  row-gap: 56px};
  grid-column: 1/-1;
  margin-top: 100px;
  @media (min-width: 760px) {
margin-top:160px;
}

.GetHelpTopic_GetHelpTopic__8bGBy {
  display: grid;
  row-gap: 24px;
  grid-column: span 12;
  grid-template-columns: subgrid;
  grid-row-gap: 24px;
  grid-template-rows: auto 1fr auto auto;
}

.GetHelpTopic_examples__nJcYg,
.GetHelpTopic_header__6VS1V,
.GetHelpTopic_link__J_4wJ,
.GetHelpTopic_title__s7XiL {
  grid-column: 1/-2;
}

.GetHelpTopic_body__xCbVF {
  grid-column: 1/9;
}

.GetHelpTopic_examples__nJcYg {
  padding-bottom: 12px;
  border-bottom: 1px dotted var(--dottedBorderColor);
}

.GetHelpTopic_example__AcqoV {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  padding: 12px 0;
  margin-bottom: -1px;
  color: var(--squareTextColor);
  border-bottom: 1px dotted var(--dottedBorderColor);
  justify-items: flex-start;
}

.GetHelpTopic_exampleIcon___FeHq {
  margin-top: 4px;
}

@media (max-width:959px) {
  .GetHelpTopic_GetHelpTopic__8bGBy,
  .GetHelpTopic_examples__nJcYg,
  .GetHelpTopic_header__6VS1V,
  .GetHelpTopic_link__J_4wJ,
  .GetHelpTopic_title__s7XiL {
    grid-column: 1/-1;
  }
  .GetHelpTopic_examples__nJcYg {
    padding: 0;
    border: 0;
  }
}

.TypingMarquee_cursor__zuO_J {
  display: inline-block;
  height: 12px;
  width: 7px;
  background-color: var(--fontColor);
  transform: translateY(2px);
}

.TypingMarquee_container___rV8g {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: var(--squareTextColor,--fontColor);
}

.TypingMarquee_char__LIwG9 {
  display: inline-block;
  flex-shrink: 0;
  height: 10px;
  width: 7px;
  line-height: 10px;
}

.TypingMarquee_line__ikSuB {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: .5px;
}

.EndlessFooter_footer__ZDaCB {
  position: relative;
  z-index: -1;
  height: 200vh;
}

.EndlessFooter_canvas__3_K4t {
  position: fixed;
  top: .2vw;
  left: 50%;
  width: 100%;
  max-width: 1728px;
  height: 100vh;
  transform: translateX(-50%);
  pointer-events: none;
}

.ThemeVisuals_container__z7xhU {
  position: fixed;
  z-index: -1;
  inset: 0;
}

.ThemeVisuals_webRingsBackground__lD1w7 {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url(assets/images/star-bg.gif);
  background-repeat: repeat;
  inset: 0;
}

.ThemeVisuals_crtLines__XH40f {
  position: fixed;
  top: -4px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background: linear-gradient(180deg,#323232 2px,#dcdcdc 0);
  background-size: 100% 4px;
  opacity: .07;
  animation: ThemeVisuals_lineMovement__fXlLb .5s linear 0s infinite normal none running;
  pointer-events: none;
}

@keyframes ThemeVisuals_lineMovement__fXlLb {
  0% {
    transform: translateY(0);
  }
  to {
    transform: translateY(4px);
  }
}

/* === Library-Generated CSS === */

/* === Tailwind CSS (generated) === */
@keyframes spin { to { transform: rotate(360deg); } }
@keyframes ping { 75%, 100% { transform: scale(2); opacity: 0; } }
@keyframes pulse { 50% { opacity: .5; } }
@keyframes bounce { 0%, 100% { transform: translateY(-25%); animation-timing-function: cubic-bezier(0.8,0,1,1); } 50% { transform: none; animation-timing-function: cubic-bezier(0,0,0.2,1); } }

.text-lg { font-size: 1.125rem; line-height: 1.75rem; }
.text-sm { font-size: 0.875rem; line-height: 1.25rem; }
.text-xs { font-size: 0.75rem; line-height: 1rem; }

/* Tailwind CSS Utilities */

.text-sm {
  font-size: 0.875rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xs {
  font-size: 0.75rem;
}



